/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}


/*Have the buttons in center when using bootstrap*/

.nav {
    display: block;
}


/*Navbar color text*/

ul#nav li.current a {
    color: #1278bd;
}


/*Navbar background color*/

.opaque {
    background-color: rgb(136 136 136);
}


/*Canvas background color*/

canvas {
    background-color: #dedede;
}


/*Header title color*/

header .banner-text h1 {
    color: #024978;
}


/*Heder line color*/

header .banner-text hr {
    border-color: #024978;
}


/*Header subtitle color*/

header .banner-text h3 {
    color: #024978;
}


/*Header button color*/

header .scrolldown a {
    color: #505050;
}

header .scrolldown a:hover {
    color: #1278bd;
}


/*About background color*/

#about {
    background-color: #043555;
}


/*Contact background color*/

#contact {
    background-color: #f9f9f9;
}


/*Contact icon color*/

#contact h1:before {
    color: #373233;
}


/*The title color in contact us for the mobile version*/

#contact h1 {
    color: #fff;
}


/*Subtitle color in contact us*/

#contact p.lead {
    color: #111;
}


/*The color of the label in contact*/

#contact label {
    color: #111;
}


/*Design of the input in contact*/

#contact input,
#contact textarea,
#contact select {
    background-color: #ededed;
    color: #333;
}

#contact input:focus,
#contact textarea:focus,
#contact select:focus {
    background-color: #e2e2e2;
    color: #333;
}


/*Button color in contact*/

#contact button.submit {
    background-color: #053554;
}

#contact button.submit:hover {
    background-color: #333;
    color: white;
}

#contact h4 {
    color: #111;
}


/*Footer text color*/

footer {
    color: #c3c3c3;
}


/*Alert message*/

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 42px;
}

.alert.success {
    background-color: #4CAF50;
}

.alert p {
    margin: 0;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}


/*Carousel*/
.carousel-inner img {
    max-height: 500px;
    width: 100%;
}


@media only screen and (max-width: 767px) {
    .carousel-inner img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 570px;
        
    }
}



/*Mobile design*/
@media only screen and (max-width: 767px) {
    /*Navbar color*/
    #nav-wrap>a {
        background-color: #1278bd;
    }
}